.container-app{
  margin: 0;
  padding: 0;
  width: 100vw !important;
}
header{
  height: 60px;
  background-color: #fff;
  color: #000 !important;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
.bg-menu{
  background: #4b0082
}

.button-form{
  /* background: #f2343c; */
  height: 60px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon-tab{
  font-size: 20px;
  color:#fd6900
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
  color: #fff !important;
  background-color: #fd6900d1 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #fff !important;
    background-color: #fd6900 !important;
    border: 2px solid #fd6900 !important;
    border-bottom: #fff;
    font-weight: bold;
}

.tab-content {
  padding: 35px 30px;
  background: #fff;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 5%);
  border: 3px solid #fd6900;
  /* border-radius: 3px; */
 
}
.navbar-layout{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    float: left;
    padding-left: 0 !important;
    padding-top: 15px;
    padding-right: 0 !important;
}

.logo{
  position: fixed;
  align-self: flex-start;
  margin-left: 30px;

}
.navbar-layout-items{
  position: fixed;
  width: 100%;
  display: block;
  height: 85px;
  margin-top: 90px;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.navbar-layout-items .navbar-layout-items-menu{
  color: #f5f5f5;
    cursor: pointer!important;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 15px;
    

}
.box-menu{
  position: fixed ;
  width: 100%;
  display: block;
  height: 85px;
  margin-top: 90px;
}

.titleMenu .anchor{
  color: #f5f5f5;
    cursor: pointer!important;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 15px;
}

.titleMenu .anchor:hover{
  background-color: #CC4E35 !important;
  text-decoration: none;
}
hr{
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

#main-container{
  position: relative;
  background-color: #fff;
  padding: 0;
}
.pl-5-custom{
  padding-left: 3rem;
} 
.pr-5-custom{
  padding-right: 3rem;
}
.logo-liveb{
  
  width: 11vw ;
}

.plan-info{

}
.plan-info li{
  font-size: 16px !important;
}
.title-h2-plan{
  font-size: 2rem;
  text-align: center;
  
}
.description-h4-plan{
  font-size: 0.8rem;
  text-align: center;
  
}
.container-saldos{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    flex-flow: row;
    font-size: 1rem !important;
    
}
.separator{
    flex: 1 1 0%;
    border-left: 1.5px solid rgba(0,0, 0, 0.3);
    content: "";
    max-width: 1.5px;
    margin: 0 15px;
}
.hidden{
    width: 235px;
    height: 48px;
    border-radius: 8px;
    
    background: linear-gradient(45deg, rgba(207, 207, 207, 0.4) 0%, rgba(222, 222, 222, 0.4) 49%, rgba(193, 193, 193, 0.4) 100%);

}

.show-info{
  background: none;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 24px;
}
.span-end{
  font-size: 13px;
  color: #343a40 !important;
  font-weight: bold;
  text-decoration: none !important;
}
.span-download{
  color: #343a40 !important;
  font-weight: bold;
  text-decoration: none !important;
}

.header-table-dash h5{
  font-size: 24px;
  font-weight: bold;
}
.header-table-dash span{
  color: rgb(156,156,156);
  font-size: 16px;
  margin-left: 0 !important;
}

.body-table-dash table thead th{
padding: 8px 4px;
    color: rgb(156, 156, 156);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.row-content{
  display: flex;
    width: 100%;
    max-width: 100vw;
    flex-flow: column;
    padding: 0px 15px; 
    margin: 32px 0px;
}

@media (max-width: 768px){
  .show-info{
    position: absolute;
    top: 0px;
    right: 10px;
    margin: 0px;
  }
  .separator{
    display: none;
  }
  .plan-info li{
    font-size: 15px;
  }
  .pl-5-custom{
    padding-left: 1rem;
  } 
  .pr-5-custom{
    padding-right: 1rem;
  }
}
.modal-info{
  background-color: rgb(0, 0, 0,0.2);
}
.modal-content{
  border-radius: 2px 30px 30px 30px !important;
  background-color: #3d3d3d !important;
}
.modal-header{
  border-radius: 2px 30px 30px 30px !important;
  border-bottom: 0px solid rgba(0,0,0,0.0) !important;
}
.modal-body h5{
  color: #fd6900;
  font-weight: bold;
  font-size: 24px;
}
.modal-body p{
  color: white;
}
.subvalues{
  flex-flow: row;
}
.subvalues li:not(:last-child){
  margin-bottom: 8px;
}
.subvalues::before{
  content: "";
  width: 30%;
  flex: 1;
  margin: 12px 0px 8px 0px;
}
.button-plan{
  border-radius: 50px !important;
  height: 54px !important;
  background-color: rgba(253, 105, 0, 0.819) !important;
  border-color: #fd6900 !important;
}
.button-plan:hover{
  
  background-color:#fd6900 !important;
  
  transition: .3s;
}

.hidden-control {
  background: none;
  border: none;
  outline: none;
  width: 48px;
  height: 48px;
  margin-left: 16px;
  margin-top: 24px;
}
.box-value{
  width: 250px;
  font-size: 2rem;
  height: 48px;
}
.hidden-box {
  width: 235px;
  height: 48px;
  border-radius: 8px;
  background: rgb(207,207,207);
  background: linear-gradient(45deg, rgba(207,207,207,.4) 0%, rgba(222,222,222,.4) 49%, rgba(193,193,193,.4) 100%);
}
.card-custom{
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2) !important;
  transition: 0.3s !important;
  width: 40% !important;
}

.card-custom:hover{
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0,0.2) !important;
}
.button-contract{
  border-radius: 50px !important;
  height: 54px !important;
  background-color:  rgba(253, 105, 0, 0.819) !important;
  color: white !important;
  border-color:rgba(253, 105, 0, 0.819) !important;
}

.css-1pahdxg-control:hover{
  border-color: #fd6900 !important;
}
.css-1pahdxg-control{
    border-color: #fd6900 !important;
    box-shadow: 0 0 0 1px #fd6900 !important;

}

.css-9gakcf-option {
	background-color: #fd6900 !important;

}
.css-9gakcf-option:hover {
	background-color: #fd6900 !important;
}

.css-1n7v3ny-option {
	background-color: #f79249 !important;
	color: white !important;
}



.button-contract:hover{
  background-color: #fd6900 !important;
  border-color:#fd6900  !important;
}
.button-refresh-dash{
  border-radius: 50px !important;
  height: 54px !important;
  background-color:  rgba(253, 105, 0, 0.819) !important;
  color: white !important;
  border-color:rgba(253, 105, 0, 0.819) !important;
}
.button-refresh-dash:hover{
  background-color: #fd6900 !important;
  border-color:#fd6900  !important;
}
.button-logout{
  border-radius: 50px !important;
  height: 54px !important;
  background-color:  rgba(253, 105, 0, 0.819) !important;
  color: white !important;
  border-color:rgba(253, 105, 0, 0.819) !important;
}

.button-logout:hover{
  background-color: #fd6900 !important;
  border-color:#fd6900  !important;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
  color:#FFF;
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover{
  text-decoration: none;
  color: white;
  background-color: rgba(37,211,102,0.6);
  cursor:pointer;
}
.my-float{
	margin-top:16px;
}

.form-check-inline .form-check-input {
  width: 20px;
  height: 20px;
}